@import "~/src/scss/index.scss";

.ui.button.button-submit-modal{
    background-color: $secondary-color;
    color: white;
    transition-duration: 0.4s;
    font-size: 16px;
    &:hover {
      background-color: $tertiary-color;
      color: white;
    }
}