@import "../../scss/index.scss";
.client-layout{
    background-color: $bg-color;


    &__footer{
        margin-top: 50px;
        padding: 20px 0px 10px 0px;
        border-top: 3px solid $primary-color;

        >.ui.container{
            display: flex;

            &:last-of-type{
                justify-content: space-between;
                margin-top: 30px;
                color: $secondary-color;
                font-size: 12;
            }
        }
    }
}
