@import "~/src/scss/index.scss";

.list-subtitles-web {
    margin-top: 70px;

    .list {
        display: flex;
        flex-wrap: wrap;
    
        .item{
            width: 33.33%;
            padding: 20px;
        }
    }
}